<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>The page is a write page</title>
	</head>
	<body>
		<form th:action="@{/board/register.do}" th:object="${board}" method="post" onsubmit="return registerBoard(this)">
		<!-- update의 경우 서버로 전달할 게시글 번호(PK) -->
		<input type="hidden" th:if="*{idx !=null and idx > 0}" th:field="*{idx}" />
		
		<label for="title">제목</label>
		<input type="text" th:field="*{title}" placeholder="제목을 입력해 주세요." />
		
		<label for="writer">이름</label>
		<input type="text" th:field=*{writer} placeholder="이름을 입력해 주세요." />
		
		<label for="content">내용</label>
		<textarea th:field=*{content} placeholder="내용을 입력해 주세요"></textarea>
		
		<a th:href="@{/board/list.do}">뒤로가기</a>
		<button type="submit">저장하기</button>
		<p>djsdsjdsakjdlksddsdsd</p>
		</form>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
			
			function registerBoard(form) {
				
				var result = (
					isValid(form.title, "제목", null, null)
					&& isValid(form.writer, "이름", null, null)
					&& isValid(form.content, "내용", null, null)
				);
				
				if (result == false) {
					return false;
			
				}
			}	
			/*]]>*/
		
		</script>
	</body>
</html>