<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="myboard/fragments/header :: main-head"></head>
	<body>
		<form th:if="${not #maps.isEmpty( params )}" name="dataForm" th:method="${method}" th:action="${redirectUri}" style="display : none;">
			<input type="hidden" th:each="key,status : ${params.keySet()}" th:name="${key}" th:value="${params.get(key)}" />		
			
		</form>
		
		<script th:src="@{/scripts/common.js}"></script>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
			/*<[CDATA[*/
				window.onload = function() {
					var message = /*[[ ${message} ]]*/;
					if (isEmpty(message) == false) {
						alert(message);
					}
					
					var params = /*[[ ${params} ]]*/;
					if (isEmpty(params) == false) {
						document.dataForm.submit();
					} else {
						var redirectUri = /*[[ ${redirectUri} ]]*/;
						location.href = redirectUri;
					}
				}
			/*]]>*/
			</script>
		</th:block>
	</body>	
</html>