<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:if="${not #maps.isEmpty( params )}" name="dataForm" th:action="${redirectUri}" th:method="${method}">
		<input type="hidden" th:each="key, status : ${params.keySet()}" th:name="${key}" th:value="${params.get(key)}" /> 	
	</form>
	
	<script th:src="@{/js/common.js}"></script>
	
	<script th:inline="javascript">
	/* <![CDATA[ */
		window.onload = function() {
		
			var message = /*[[ ${message} ]]*/;
			if (isEmpty(message) == false) {
				alert(message);
			}
			
			var params = /*[[ ${params} ]]*/;
			if (isEmpty(params) == false) {
				document.dataForm.submit();
			} else {
				var redirectUri = /*[[ ${redirectUri} ]]*/;
				location.href = redirectUri;
			}
		}
		/* ]]> */
	</script>
</body>
</html>